<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>@ViewData["Title"] - GTW Products</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://glaretheworld.com/wp-content/uploads/2022/01/GTW-website.png" alt="GTW IT Solutions" width="160" height="92" /></a></div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            Designed for <a href="https://glaretheworld.com/" target="_blank">GTW</a> by <a href="https://amir-latif.github.io/portfolio/" target="_blank"><i>Amir Latif</i></a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
